<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Tree - jQuery EasyUI Demo</title>
	<script type="text/javascript">
		function isLeaf(){
			alert("world");
		}
	</script>
</head>
<body>
	<h2>Tree</h2>
	<div class="demo-info" style="margin-bottom:10px">
		<div class="demo-tip icon-tip"></div>
		<div>Click the node and drag it to other position.</div>
	</div>
	<br/>
	<applet codebase="http://10.10.39.181:8080/pengda/applet"
			code = 'com.creditease.dss.applet.FileManage'  
			jnlp_href = 'filejnlp.jnlp'  
			width = 300
        	height = 20 />
</body>
</html>