<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/' threshold="all">
	<appender name="LogFile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.home}/logs/utp.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}] [%5p] [%t] (%l) - %m%n" />
		</layout>
	</appender>
	<appender name="Console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}] [%5p] [%t] (%l) - %m%n" />
		</layout>
	</appender>
	<logger name="com.pinelet.utp.core.handler" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="Console" />
	</logger>
	<logger name="com.ibatis" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="Console" />
	</logger>
	<logger name="com.ibatis.common.jdbc.SimpleDataSource" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="Console" />
	</logger>
	<logger name="com.ibatis.common.jdbc.ScriptRunner" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="Console" />
	</logger>
	<logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="Console" />
	</logger>
	<logger name="java.sql.PreparedStatement" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="Console" />
	</logger>
	<logger name="java.sql.Connection" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="Console" />
	</logger>
	<root>
		<level value="INFO" />
		<appender-ref ref="Console" />
	</root>
</log4j:configuration>
